* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}





/*----------------------Header------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  
}
header {
  max-width: 100%;
}
.head-container{
max-width: 1720px;
margin: 0 auto;

color: #222222;
display: flex;
gap:67px;
min-height: 100px;
}


.head-container__logo {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-container__logo a {
  font-size: 3.75rem;
  font-family: "Tahu!", sans-serif;
  line-height: 0.467;
  text-align: left;
  color: black;
}
.head-container__nav {
  background-color: white;
  display: flex;
  flex-grow: 1;
  padding-left: 85px;
  
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 38px;


}
/*------------------------Media screen------------------------------*/

@media screen and (max-width: 1200px) {
  .navigation {
    padding-left: 30px;
  }
  .logo a {
    font-size: 40px;
  }
  .header-container {
    gap: 30px;
  }
  
}
@media screen and (max-width: 992px) {
  .navigation {
    padding-left: 10px;
  }
  .logo a {
    font-size: 25px;
  }
  .header-container {
    gap: 15px;
  }
 .nav-links {
  gap: 20px;
 }
}

li, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(34, 34, 34);


}
.link:hover {
  color: #ff3c2d;
  
 }
.btn-container{
display: flex;
align-items: center;
}
.but-book {
  border-radius: 0.188rem;
  
  width: 7.5rem;
  height: 2.188rem;
  border: none;
  color: #ffffff;
  background-color: #ff3c2d;
  line-height: 1.75;
  text-align: center;
   
}
.but-book:hover {
  border-color: #00000026;
  box-shadow: rgba(27, 26, 26, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;

}
.apps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps__links {
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  gap:20px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 760px) {
  .navigation {
    padding-left: 5px;
  }
  .logo a {
    font-size: 25px;
  }
  .header-container {
    gap: 10px;
  }
  .nav-links {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 30px 30px;
    gap: 15px;
    align-content: center;
  }
  .apps-links {
    gap: 10px;
    display: grid;
  }
  .but-book {
    width: 6.5rem;
  }
}



 
.main-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;

}
#banner-section {
  height: 31.875rem;
  background: url(./photos/Img.png) 50% 0%/cover no-repeat;
  color: #ffffff;
}
.banner {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem 11.25rem 4.375rem;
  
}
.banner-info {
  max-width: 28.5rem;
}
.banner-header { 
  color: #ffffff;
  font-size: 4.375rem;
  font-family: "Poppins";
  font-weight: bold;
  line-height: 1.143;
  text-align: left;
}
.banner-text {
    font-size: 21px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
    margin: 2.188rem 0 2.813rem;
   
}
.banner-btn {
  border-radius: 0.188rem;
    
  width: 13.438rem;
  height: 2.813rem;
  border: none;
  color: #ffffff;
  background-color: #ff3c2d;
  line-height: 1.75;
  text-align: center;
    
  margin-right: 4.063rem;
}
.banner-btn:hover {
  border-color: #00000026;
  box-shadow: rgba(27, 26, 26, 0.1) 0 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
/*------------------------------Main:sessions-----------------------------------*/
.form_text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
.form_individual {
  background-color: #222222;
  height: 721px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-ind-cont{
  display: flex;
  flex-direction: column;
  gap: 73px;
  height: 100%;
}

.form-ind-cont_title{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.form_text-ind {
  font-size: 1.875rem;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  width: 19.375rem;
  height: 1.438rem;
  
}
@media screen and (max-width: 1920px) {
  
}


.icon_user, .icon_users {
  
  margin: 4.3rem  27rem 0.625rem 28rem;
}




.points_sessions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.points_sessions ul{
display: flex;
flex-direction: column;
justify-content: center;
}

.point_studio, .point_outdoor, .point_inoffice h4 {
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.778;
  text-align: left;
}
.studio h4 {
  padding: 1rem;
  margin-left: 2rem;
}
.flex-inside_studio {
  display: flex;
}

.point_studio p {
  font-size: 80px;
  font-family: "Poppins";
  color: rgba(254, 254, 254, 0.2);
  font-weight: bold;
  line-height: 0.4;
  text-align: left;
  padding-left: 1rem;
  
  padding-top: 1.15rem;
}
.flex-inside_outdoor {
  display: flex;
}
.outdoor h4 {
  padding: 1rem;
  margin-left: 1.25rem;
}
.point_outdoor p {

  font-size: 80px;
  font-family: "Poppins";
  color: rgba(254, 254, 254, 0.2);
  font-weight: bold;
  line-height: 0.4;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 1.2rem;
}
.flex-inside_inoffice {
  display: flex;
}
.inoffice h4 {
  padding: 1rem;
  margin-left: 1.25rem;
}
.point_inoffice p {
  font-size: 80px;
  font-family: "Poppins";
  color: rgba(254, 254, 254, 0.2);
  font-weight: bold;
  line-height: 0.4;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 1.2rem;
}

.point_studio .line {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.2;
  
  width: 25.5rem;
  height: 0;
  margin-left: 1.6rem;
  margin-bottom: 2.188rem;
  
}
.point_outdoor .line {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.2;
  
  width: 26.3rem;
  height: 0;
  margin-left: 0.7rem;
  margin-bottom: 2.188rem;
}
.point_inoffice .line {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.2;
  
  width: 25.2rem;
  height: 0;
  margin-left: 1.8rem;
  
}
.studio, .outdoor, .inoffice {
  margin-bottom: 2.188rem;
}
/*-------------------------Main second group--------------------------------------*/
.points_sessions-sec {
  display: flex;
  flex-direction: column;
  
}
.group, .corporate {
  margin-bottom: 2.188rem;
}
.point_group, .point_corporate h4 {
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(34, 34, 34);
  line-height: 1.778;
  text-align: left;
  
}
.point_group p {
  font-size: 80px;
  font-family: "Poppins";
  color: rgba(34, 34, 34, 0.2);
  font-weight: bold;
  line-height: 0.4;
  text-align: left;
  padding-top: 1.2rem;
  padding-left: 1rem;
}
.group h4 {
  padding: 1rem;
  margin-left: 2rem;
}
.point_group .line {

  border-width: 1px;
  border-color: rgb(34, 34, 34);
  border-style: solid;
  opacity: 0.149;
  width: 388px;
  height: 0;
  width: 25.5rem;
  height: 0;
  margin-left: 1.6rem;
  margin-bottom: 2.188rem;

}
.point_corporate .line {
  border-width: 1px;
  border-color: rgb(34, 34, 34);
  border-style: solid;
  opacity: 0.149;

  width: 26.3rem;
  height: 0;
  margin-left: 0.7rem;
  

}

.point_corporate p {
  font-size: 80px;
  font-family: "Poppins";
  color: rgba(34, 34, 34, 0.2);
  font-weight: bold;
  line-height: 0.4;
  text-align: left;
  
  padding-left: 0.5rem;
  padding-top: 1.2rem;
}
.corporate h4 {
  padding: 1rem;
  margin-left: 1.25rem;
}
.flex-inside_group {
  display: flex;
}
.flex-inside_corporate {
  display: flex;
}
.btn_submit {

  border-radius: 3px;
  width: 215px;
  height: 45px;
  border: none;
  color: #ffffff;
  background-color: #ff3c2d;
  line-height: 1.75;
  text-align: center;
  margin: 0 auto;
}
.btn_submit:hover {
  border-color: #00000026;
  box-shadow: rgba(27, 26, 26, 0.1) 0 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

/*----------------------------------------Holder------------------------------*/

.services{
  max-width: 100%;
}
.holder h1 {
  font-size: 50px;
  font-family: "Poppins";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 1.25rem;
  margin-top: 2.813rem;
}
.holder p {

  font-size: 18px;
  font-family: "Poppins";
  color: rgb(34, 34, 34);
  line-height: 1.778;
  text-align: left;
  margin-bottom: 1.438rem;
}


.form_company {
  background-color: #f6f6f6;
  height: 721px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_text-comp-sessions {
  font-size: 1.875rem;
  font-family: "Poppins";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  max-width: 20rem;
  height: 1.438rem;
  
  
}
.form_text-comp {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.form_text-comp ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.points_sessions-sec {
  display: flex;
  flex-direction: column;
  gap: 73px;
  height: 100%;
}
.form-comp-cont_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



/*----------------------------------Main:items--------------------------------------*/
.holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  left: 180px;
  top: 158px;
  width: 43.75rem;
  height: 15.8rem;
  z-index: 10;

}


.holder h2{
  
    font-size: 50px;
    font-family: "Poppins";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
   
    
}
.items {
  margin-left: 3.125rem;
  margin-top: 2.813rem;
  margin-bottom: 2.875rem;
  
}
.items p {
  
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    color: rgb(34, 34, 34);
    line-height: 1.778;
    text-align: left;
  
  
  
}
.items form {
  display: inline-flex;
}


.btn_input {
  width: 215px;
  height: 45px;
  border-radius: 0.188rem 0 0 0.188rem;
  background: #f6f6f6;
  border: none;
  border-right: 0;
  font: inherit;
  outline: none; /*подсветка, контур*/
  padding: 10px;
}
.btn_form {
  margin-left: 0;
  border: none;
  color: #ffffff;
  background-color: #ff3c2d;
  line-height: 1.75;
  text-align: center;
  width: 163px;
  height: 45px;
  border-radius: 0 0.188rem 0.188rem 0;
}
.btn_form:hover {
  border-color: #00000026;
  box-shadow: rgba(27, 26, 26, 0.1) 0 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.map {
  max-width: 100%;
  
  position: relative;
}
.map iframe{
  width: 100%;

}

/*-------------------Photo Gallery--------------------*/
.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.navigation_titles {
  
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.nav_title {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
  font-family: "Poppins";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  width: 638px;
  height: 54px;


}
.nav-links_services {
  display: flex;
  align-items: center;
  gap: 45px;
  

}
.nav-links_services a {
  font-size: 18px;
  font-family: "Poppins";
  color: #ababab;
  line-height: 1.778;
  text-align: center;
  position: relative;
}

.nav-links_services a:focus {
  color: #222222;
}

.nav-links_services a::after {
  display: block;
  position: absolute;
  
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff3c2d;
  content: "";
  transition: width 0.3s ease-out;
  
}

.link_a:focus::after, .link_a:hover:after {
  width: 100%;
}
.nav_services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*-------------------Grid container----------------------------*/

.services-section {
  width: 1560px;
  margin: 0 auto;
}
.category {
  display: grid;
  grid-template-areas: 
  "img1 img2 img7 img7"
  "img3 img4 img7 img7"
  "img5 img6 img7 img7";
  gap: 30px;
}
.category_link {
  position: relative;
  min-height: 420px;

  
}
.category_link:hover::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50%);
}
.category_link:nth-child(1) {
  grid-area: img1;
  background: url(./photos/girl1.png) 50% 0%/cover no-repeat;

}
.category_link:nth-child(2) {
  grid-area: img2;
  background: url(./photos/second-girl.png) 50% 0%/cover no-repeat;

}
.category_link:nth-child(3) {
  grid-area: img3;
  background: url(./photos/man-third.png) 50% 0%/cover no-repeat ;

}
.category_link:nth-child(4) {
  grid-area: img4;
  background: url(./photos/smile-girl.png) 50% 0%/cover no-repeat;

}
.category_link:nth-child(5) {
  grid-area: img5;
 
}
.category_link:nth-child(6) {
  grid-area: img6;
}
.category_link:nth-child(7) {
  grid-area: img7;
  background: url(./photos/big-girl.png) 50% 0%/cover no-repeat;
}
.category_name {
  position: absolute;
  bottom: 22px;
  left: 25px;
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.778;
  text-align: left;
  opacity: 0;
}
.category_name img {
  padding-top: 8px;
  padding-left: 12px;
}
.category_link:hover .category_name {
  opacity: 1;
}
.category_link:hover .category_btn {
  opacity: 1;
}
.category_btn {
  position: absolute;
  bottom: 50px;
  left: 25px;
  font-size: 12px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  background-color: #ff3c2d;
  border-radius: 3px;
  width: 90px;
  height: 25px;
  text-transform: uppercase;
  line-height: 2.333;
  text-align: center;
  opacity: 0;
}
.btn_arrow {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;

}
.btn_arrow img {
  
  margin: 0 auto;

}
.tips {
  background-color: #f6f6f6;
  min-height: 960px;
}


.tips_frame {
  width: 1560px;
  margin: 0 auto;
  
}
.tips_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px ;
}
.ror {
  background-color: aqua;
}
.win {
  background-color: #ababab;
}

.tips_headshot {
  background-color: #222222;
  margin-left: 114px;
  width: 1060px;
  height: 360px;

}

.tips_headshot-text {
  width: 904px;
  height: 240px;
  margin: 0 auto;
  font-size: 22px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.273;
  text-align: left;


}
